<!DOCTYPE html>
<html>
    <header>
        <a href="">Main Blog Page</a>
        <a href="">Add a Blog Entry</a>
    </header>
    <head>
        <title>Build a Blog</title>
    </head>

    <body>
        <h1>Add a Blog Entry</h1>
        <form action="/blog" method='POST'>
            <label>
                Title for your new blog:
                <br>
                <input type="text" name="title" /><br>
            </label>
            <label>
                Your new blog:
                <br>
                <textarea name="body"></textarea><br>
            </label>
                <input type="submit" value="Add Entry" />
        </form>

        <h1>Build a Blog</h1>
        {% for blog in blogs %}
            <h2>{{blog.title}}</h2>
            <p>{{blog.body}}</p>
            <hr>
        {% endfor %}
    </body>
</html>