{% extends "base.html" %}

{% block content %}
    <h1>Add a Blog Entry</h1>
    <form action="/newpost" method='POST'>
        <label>
            Title for your new blog:
            <br>
            <input type="text" name="title" />{% if title_error %}<p class="error">{{ title_error }}</p>{% endif %}
        </label><br>
        <label>
            Your new blog:
            <br>
            <textarea name="body"></textarea>{% if body_error %}<p class="error">{{body_error}}</p>{% endif %}
        </label><br>
            <input type="submit" value="Add Entry" />
    </form>
{% endblock %}